@model IEnumerable<ClassLibrary.Model.ProductModel>

@{
    ViewData["Title"] = "ProductList";
}

@section scripts {

    <script>

        $(document).ready(function () {

            alert('pop');

            $('#customerDatatable').dataTable({
            });
        });

    </script>


}

<h1>ViListew</h1>

<p>
    <a asp-action="Insert">Create New</a>
</p>
<table id="customerDatatable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Productid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Productid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCode)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { Productid = item.Productid }) |
                    @Html.ActionLink("Details", "Details", new { Productid = item.Productid }) |
                    @Html.ActionLink("Delete", "Delete", new { Productid = item.Productid })
                </td>
            </tr>
        }
    </tbody>
</table>
